*~
#*
.#*
Dependencies*
*.so
obj/
.sconsign.dblite
*.pb.h
*.pb.cpp
*.c2t
compile_commands.json
.gdb_history
PluginTest

# CI build results
dist/

# Eclipse may create these
.cproject
.project
.settings/
.ciprep
